---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$headline-font-family: "adelle";
$base-font-family: "source-sans-pro", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

//$light-brown: #607DA8; //#d9b589;
//$dark-brown: #22395C; //#8c5839;

// Complementary Color Scheme
//$dark-accent: #22395C;
//$light-accent: #607DA8;
//$base-color: #A89060;
//$light-base: #F5F2ED;
//$dark-base: #5C4B2B;
$dark-accent: #1e392a;
$accent-transparent: rgba(30, 57, 42, 0.45);
$light-accent: #3cc47c;
$base-color: #E9C893;
$light-base: #FFFFFF;
$dark-base: #828081;

$spacing-unit:     30px;

$text-color:       $dark-base;
$background-color: $light-base; //#FFE89B;
$link-color: $light-accent;


$grey-color:       #E9C893;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$breakpoint1:      700px;
$breakpoint-menu-break: 840px;
$breakpoint-menu-mobile: 455px;
$breakpoint-social-buttons: 545px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: #{$device}) {
        @content;
    }
}

h5 {
    color: $dark-accent;
    font-family: $headline-font-family;
}

.post {
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    color: $dark-accent;
    font-family: $headline-font-family;
    font-weight: 900;
}

.blog-header {
    font-family: $headline-font-family;
    font-weight: 800;
}

.blog-meta {
    background-color: $dark-accent;
    color: white;
    font-family: "adelle";
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
}


.blog-meta-date {
	font-weight: 200;
}

.center {
    text-align: center;
}

.blog-meta-category {
    background-color: $base-color;
    color: white;
    font-family: "adelle";
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.header-image {
    min-height: 300px;
    background-size: cover;
    position: relative;
    margin-bottom: 15px;
}

.header-image > span {
    color: white;
    position: absolute;
    bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(0,0,0,.6);
}

.header {
    background:
        linear-gradient(
            $accent-transparent,
            $accent-transparent
        ),
        url("../images/header.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    color: white;
    font-family: $headline-font-family;
    font-weight: bold;
    text-align: center;
    line-height: 500px;
    font-size: 20px;
}

.menu {
    position: absolute;
    top: 0px;
    line-height: 20px;
    padding-top: 12px;
    width: 100%;
    text-align: center;
    background-color: $light-base;
    text-transform: uppercase;
    li {
        display: inline;
        list-style-type: none;
        padding-right: 50px;
    }
    .menu-icon {
        display: none;
    }
}

@include media-query($breakpoint-menu-break) {
    .menu {
        line-height: 30px;
    }
    .blog-meta-date-box {
        opacity: 0;
    }
}

@include media-query($breakpoint-menu-mobile) {
    .menu .menu-icon {
        display: inline;
        cursor: pointer;
    }
    .menu li:not(.responsive) {
        display: none;
        margin-left: 62px;
    }
    .menu li {
        padding-right: 0px;
    }
    .menu ul {
        text-align: left;
        margin-left: 0px;
    }
    .post {
        margin-left: 5px;
    }
}

.main-title {
    font-weight: 600;
}

.breweries-content {
    background-color: $base-color;
    .title {
        color: $dark-accent;
    }
}

.breweries {
    width: 100%;
    text-align: center;
}

.breweries > div {
    display: inline-block;
}


.brewery {
    background-color: $base-color;
    font-family: $headline-font-family;
    font-weight: 800;
    text-align: center;
    color: $light-accent;
    height: 200px;
}

.about {
    padding-left: 5px;
    padding-right: 5px;
}

.crawl-info > p {
    padding-left: 25px;
    padding-right: 25px;
}

.crawl-info > ul {
    padding-left: 25px;
    padding-right: 25px;
}

.fa {
    padding-right: 1em;
    padding-left: 1em;
    color: $light-accent;
}


@include media-query($breakpoint-social-buttons) {
    .follow .fa {
        padding-right: .5em;
        padding-left: .5em;
    }   
}

.fa:hover {
    color: $dark-accent;
}

.follow {
    padding-bottom: 20px;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "grid"
;
