<footer class="site-footer grid">
<div class="grid__col grid__col--12-of-12 follow">
    <h3 class="title center">Follow Me</h3>
    <a href=""><i class="fa fa-facebook-official fa-3x" aria-hidden="true" title="Facebook"></i></a>
    <a href=""><i class="fa fa-twitter fa-3x" aria-hidden="true" title="Twitter"></i></a>
    <a href=""><i class="fa fa-instagram fa-3x" aria-hidden="true" title="Instagram"></i></a>
    <a href=""><i class="fa fa-beer fa-3x" aria-hidden="true" title="Untappd"></i></a>
</div>
<div class="grid__col grid__col--12-of-12">
    &copy; {{ site.time | date: "%Y" }} Ryan Stewart<br/>
    Brewed with <a href="http://brackets.io">Brackets</a></br>
    Set in Adelle and Source Sans Pro via <a href="http://typekit.com">Typekit</a>
    <script src="//use.typekit.net/vss7ybl.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</div>
</footer>
