<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <div class="grid">
        <a name="top"></a>
        {% include header.html %}
        <div class="grid__col grid__col--12-of-12 blog-content">
            <h1 class="title center">Latest Blog Entries</h1>
        </div>
        {{ content }}
        <div class="grid__col grid__col--12-of-12 go-to-top">
            <a href="#top">Go to top</a>
        </div>
        <div class="grid__col grid__col--12-of-12 breweries-content">
            <a name="breweries"></a>
            <h1 class="title center">Breweries</h1>
        </div>

        <div class="grid__col grid__col--12-of-125 breweries-content breweries">
            <div class="hales"></div>
            <div class="reubens"></div>
        </div>
<!--
        <div class="grid__col grid__col--1-of-5 brewery hales">Reuben's</div>
        <div class="grid__col grid__col--1-of-5 brewery hales">Stoup</div>
        <div class="grid__col grid__col--1-of-5 brewery hales">Maritime</div>
        <div class="grid__col grid__col--1-of-5 brewery hales">Hilliards</div>


        <div class="grid__col grid__col--1-of-5 brewery hales">Hale's 2</div>
        <div class="grid__col grid__col--1-of-5 brewery hales">Reuben's 2</div>
        <div class="grid__col grid__col--1-of-5 brewery hales">Stoup 2</div>
        <div class="grid__col grid__col--1-of-5 brewery hales">Maritime 2</div>
        <div class="grid__col grid__col--1-of-5 brewery hales">Hilliards 2</div>
-->

        <div class="grid__col grid__col--12-of-12 go-to-top breweries-content">
            <a href="#top">Go to top</a>
        </div>
        <div class="grid__col grid__col--12-of-12">
            <a name="about"></a>
            <h1 class="title center">About</h1>
        </div>
        <div class="grid__col grid__col--6-of-12">
            <h2 class="blog-header center">About the Blog</h2>
            <div class="about">
                <p>The Ballard neighborhood in Seattle is a mecca for beer lovers. With 10 breweries in a square mile, all of whom make great beer, it's hard not to find something for every beer drinker. Ballard also has historic craft beer ties as the original location of Red Hook, and the current location of Hale's Ales, which brewed the first craft pale ale in the Northwest. Nearly all of the breweries are family and dog friendly which makes for a wonderful community vibe.</p>
                <p>This blog is meant to support, highlight, and celebrate all the great craft beer in Ballard. It's also a chance for the authors to learn more about beer, get better at recognizing the flavors that go into beer, and get better about writing about it.</p>
            </div>
        </div>
        <div class="grid__col grid__col--6-of-12">
            <h2 class="blog-header center">About Ryan</h2>
            <div class="about">
                <p>I'm lucky enough to live smack dab in the middle of Ballard so I have no shortage of options on a Wednesday night, weekend, or even Tuesday lunch.</p>
                <p>I've been into craft beer for about 6 years now and through my job have had the chance to be able to travel around the world and try lots of different beers in lots of different places including Japan, Belgium, Australia, and Germany. I got interested in really understanding beer after I tried breweing it myself a few years ago. That coincided with a major growth in craft beer in Ballard and as I enjoyed more and more local beer, I got interested in writing about it as a way to keep up and enjoy it more.</p>
                <p>I work at Adobe on the web tools team, which means I spend a lot of time with new web technologies and tools. While this is first and foremost a blog about Ballard beer, it's also a playground for me to try out new features and tools of the web. I coded the entire thing from scratch (apologies for my lack of design skills) and plan on trying a few things out down the road so I can experiment with the tools Adobe is building on a real world site.</p>
            </div>
        </div>
    </div>
    <div class="grid__col grid__col--12-of-12 go-to-top">
        <a href="#top">Go to top</a>
    </div>

    {% include footer.html %}

</body>

</html>